* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background: linear-gradient(to bottom, #e3ebe9, #0d5803);
    color: #fff;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px; /* Espacio adicional debajo del título */
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
    color: #fff;
    font-size: 15px;
    table-layout: auto;
    border-collapse: collapse;
}

thead {
    background: rgba(16, 71, 11, 0.7);
    text-transform: uppercase;
    letter-spacing: 1px;
}

th {
    padding: 15px 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 128, 0, 0.1);
}

tbody tr {
    transition: background 0.3s ease;
}

tbody tr:hover {
    background: rgba(2, 97, 31, 0.7);
    cursor: pointer;
}

tfoot {
    background-color: #04382f;
}

footer {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    padding: 15px 0;
    background-color: #04382f;
    margin-top: auto;
}
